bus-ticket{
	display: block;
	filter: drop-shadow(rgba(0, 0, 0, 0.5) 2px 2px 8px) blur(0.2px);
}

.ticket {
	/* filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.2)) blur(0.2px); */
	width: 90vw;
	position: relative;

	--border-color: #d43b39;
	--background: #f54949;
	--text: rgba(255, 255, 255, 0.95) ;

	background-color: var(--background);
	color: var(--text);

	font-family: Archivo;
	clip-path: url(#ticket-shape);
}



p {
	z-index: 2;
	padding: 15px 30px;
	position: relative;
	font-size: 45px;
	font-stretch: 85%;
	font-weight: 800;
	text-align: center;
	letter-spacing: -1px;
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	/* // filter: url("#ticket-warp");
	// mix-blend-mode: multiply;
	// transform: scale(0.95) translatex(-6px); */
	margin: 0;

	.zone{
		font-family: "FuturaPTHeavy";
		font-size: 30px;
	}
}

a {
	font-family: "FuturaPTBold";

	color: inherit;
    text-decoration: inherit;

	border: 3.5px solid var(--border-color);
	padding: 5px;

	display: flex;
    align-items: center;
    flex-direction: column;
}

p .flaps {
	font-family: "FuturaPTDemi";

	font-size: 20px;
	font-stretch: 85%;
	font-weight: 400;
	writing-mode: vertical-lr;
	border: 3.5px solid var(--border-color);
	padding: 4px;
	letter-spacing: 0.5px;

	text-transform: uppercase;
}
p .flaps:last-child {
	border-left: none;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

p .flaps:first-child {
	border-right: none;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}