main{
	font-family: 'FuturaPTLight';
	height: 100%;

	scroll-snap-type: y proximity;
    scroll-padding: 70px;
    overflow-y: auto;

	display: flex;
    flex-direction: column;
    align-items: stretch;

	&.settings-active{
		scroll-padding: 10px;
	}

	& header{
		user-select: none;

		display: grid;
		grid-template-columns: min-content 1fr;
    	grid-template-rows: min-content;
		grid-column-gap: 0px;
		grid-row-gap: 0px;

		margin: 10px 10px;

		scroll-snap-align: start;

		#app-logo{
			width: 60px;
			margin-right: 10px;
			grid-area: 1 / 1 / 3 / 2;
		}
		#app-title{
			display: flex;
			align-items: flex-start;
			
			grid-area: 1 / 2 / 2 / 3;
			margin: 0;

			height: 45px;

			& span {
				font-family: 'FuturaPTLight';
				font-size: 40px;
				text-transform: uppercase;
			}

			& small{
				font-family: 'FuturaPTDemi';
				font-size: 30px;
				line-height: 28px;
				text-transform: lowercase;

				color: var(--zone-a-color);
			}
		}
		#app-subtitle{
			grid-area: 2 / 2 / 3 / 3;
			margin: 0;

			font-size: 20px;

			.zone-a{
				color: var(--zone-a-color);
			}

			.zone-b{
				color: var(--zone-b-color);
			}

			.zone-a, .zone-b{
				font-family: FuturaPTHeavy;
				font-weight: unset;
			}

			.zone-a, .zone-b, .zone-c{
				text-transform: capitalize;
			}
		}

		@media screen and (max-width: 385px) {
			#app-subtitle{
				font-size: 18px;
			}
		}
	}

	#navigation-bar{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		position: fixed;
		bottom: 0;
		z-index: 1;
		background-color: var(--nav-background-color);
		width: 100%;
		min-height: 50px;
		padding-bottom: env(safe-area-inset-bottom);

		filter: drop-shadow(rgba(0, 0, 0, 0.5) 2px 2px 8px);

		.link-button{
			align-items: center;
			display: flex;
			flex-direction: column;
			& svg{
				fill: var(--text-color);
				width: 35px;
				flex-grow: 1;
			}
		}

		&.home-active #ticket-button{
			& svg{
				fill: var(--zone-a-color);
			}
		}
		&.map-active #map-button{
			& svg{
				fill: var(--zone-a-color);
			}
		}
		&.settings-active #settings-button{
			& svg{
				fill: var(--zone-a-color);
			}
		}
	}
}

map-embed{
	display: contents;
	+ #navigation-bar{
		position: relative;
		z-index: 500;
	}
}

tickets-list{
	padding-bottom: calc(((100vh - 65px) - 55px) - 142*3px);
}