.tickets-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding-bottom: 30px;

  & dt {
    font-family: "FuturaPTBold";
    font-size: 24px;
    /* font-stretch: 85%; */
    /* // font-weight: 800; */

    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    margin: 5px 0;
    & h3 {
      margin: 0;
      flex-grow: 1;
      text-align: left;
    }

    & small {
      font-family: "FuturaPTDemi";
    }
  }
  & dd {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    scroll-snap-align: start;

    + dd .ticket{
     
        --border-color: #142346;
        --background: #1f366a;
        /* // --text: #fff; */
      
    }
    + dd + dd {
      .ticket {
        --text: #3a3a3a;
        --border-color: #9a9a9a;
        --background: #fff;
      }
    }
  }
}

#svg-filters{
	width: 0;
    height: 0;
}