.tickets-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  /* padding-bottom: 30px; */
  margin: 0;

  user-select: none;

  & dt {
    font-family: "FuturaPTBold";
    font-size: 24px;
    /* font-stretch: 85%; */
    /* // font-weight: 800; */

    position: sticky;
    top: 0px;
    background-color: var(--background-color);
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    & h3 {
      margin: 0;
      flex-grow: 1;
      text-align: left;

      font-size: 28px;
    }

    & small {
      font-family: "FuturaPTDemi";
    }
  }
  & dd {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    scroll-snap-align: start;

    + dd .ticket{
     
        --border-color: var(--zone-b-border);
        --background-color: var(--zone-b-color);

    }
    + dd + dd {
      .ticket {
        --text: #3a3a3a;
        --border-color: var(--zone-c-border);
        --background-color: var(--zone-c-color);
      }
    }
  }
}

#svg-filters{
	width: 0;
    height: 0;
}