:root{ 
	--text-color: #0c0c0c;
	--background-color: #fbfbfb;
	--nav-background-color: #fcfcfc;

	--zone-a-color: #ea2f2a;
	--zone-a-border: #bc2722;

	--zone-b-color: #244283;
	--zone-b-border: #1b3161;

	--zone-c-color: #fff;
	--zone-c-border: #9a9a9a;
}

/* @media screen and (prefers-color-scheme: light){
	:root{
		--text-color: #0c0c0c;
		--background-color: #f4f4f4;

		--nav-background-color: #fcfcfc;
	}
} */

@media screen and (prefers-color-scheme: dark) {
	:root{
		--text-color: #f5f5f5;
		--background-color: #1d1d1d;

		--nav-background-color: #212121;
	}
}


html[data-theme='light'] {
	--text-color: #0c0c0c;
	--background-color: #fbfbfb;
	--nav-background-color: #fcfcfc;
}

html[data-theme='dark'] {
	--text-color: #f5f5f5;
	--background-color: #1d1d1d;
	--nav-background-color: #212121;
}