@import url(./_variables.css);

@font-face {
	font-family: 'FuturaPTLight';
	src: url('./assets/fonts/FuturaPTLight.woff2') format('woff2');
}
@font-face {
	font-family: 'FuturaPTDemi';
	src: url('./assets/fonts/FuturaPTDemi.woff2') format('woff2');
}
@font-face {
	font-family: 'FuturaPTHeavy';
	src: url('./assets/fonts/FuturaPTHeavy.woff2') format('woff2');
}
@font-face {
	font-family: 'FuturaPTBold';
	src: url('./assets/fonts/FuturaPTBold.woff2') format('woff2');
}
@font-face {
	font-family: 'FuturaPTExtraBold';
	src: url('./assets/fonts/FuturaPTExtraBold.woff2') format('woff2');
}

html{
    background-color: var(--background-color);
	color: var(--text-color);
	
    width: 100%;
    height: 100%;

	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body{
    height: 100%;
    margin: 0;
}


@keyframes slide-in-from-left {
	from {
		translate: -100vw 0;
	}
}
@keyframes slide-in-from-right {
	from {
		translate: 100vw 0;
	}
}
@keyframes slide-out-to-left {
	to {
		translate: -100vw 0;
	}
}
@keyframes slide-out-to-right {
	to {
		translate: 100vw 0;
	}
}

::view-transition-group(*) {
	animation-duration: .25s;
}

:root{
	view-transition-name: none;
}
core-root::part(content){
	view-transition-name: content;
}

html:active-view-transition-type(forwards) {
	&::view-transition-old(content) {
		animation-name: slide-out-to-left;
	}
	&::view-transition-new(content) {
		animation-name: slide-in-from-right;
	}
}

html:active-view-transition-type(backwards) {
	&::view-transition-old(content) {
		animation-name: slide-out-to-right;
	}
	&::view-transition-new(content) {
		animation-name: slide-in-from-left;
	}
}