@import url(./_variables.css);

@font-face {
	font-family: 'FuturaPTLight';
	src: url('./assets/fonts/FuturaPTLight.woff2') format('woff2');
}
@font-face {
	font-family: 'FuturaPTDemi';
	src: url('./assets/fonts/FuturaPTDemi.woff2') format('woff2');
}
@font-face {
	font-family: 'FuturaPTHeavy';
	src: url('./assets/fonts/FuturaPTHeavy.woff2') format('woff2');
}
@font-face {
	font-family: 'FuturaPTBold';
	src: url('./assets/fonts/FuturaPTBold.woff2') format('woff2');
}
@font-face {
	font-family: 'FuturaPTExtraBold';
	src: url('./assets/fonts/FuturaPTExtraBold.woff2') format('woff2');
}

html{
    background-color: #fff;
    width: 100%;
    height: 100%;

	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body{
    height: 100%;
    margin: 0;
}
