#map{
	display: flex;
    flex-grow: 1;
	flex-direction: column-reverse;
	align-items: flex-end;

	height: 100%;

	--icon-color: var(--text-color);
	--error-color: rgb(255, 0, 0);
	--loading-color: var(--text-color);

	#locate{
		z-index: 500;

		position: relative;

		width: 60px;
		height: 60px;
		margin: 15px;
		padding: 0;

		border: none;
		border-radius: 50%;

		background-color: var(--nav-background-color);
		box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;

		& svg {
			padding: 12px;
		}

		&::after{
			content: "";
			opacity: 0;
		}

		&.loading::after {
			content: "";
			position: absolute;
			box-sizing: border-box;
			width: 68px;
			height: 68px;
			inset: -4px;
			margin: 0px;
			border: 4px solid transparent;
			border-top-color: var(--loading-color);
			border-radius: 50%;
			opacity: 1;
			transition: opacity 0.5s linear;
			animation: locate-loading-spinner 0.8s ease infinite ;
		  }

		  &.error{
			outline: var(--error-color) solid 4px !important;
		  }
	}

	> div.leaflet-control-container > div.leaflet-bottom.leaflet-right{
		display: none;
	}

	.leaflet-marker-icon{
		/* filter: drop-shadow(black 0px -2px 2px); */
		border-radius: 50%;
		padding: 5px;
		outline: rgb(255, 255, 255) solid 6px;
		background-color: rgb(255, 255, 255, 70%);
	}
	.leaflet-tile-container{
		filter: grayscale(50%);

		.leaflet-tile{
			mix-blend-mode: darken;
		}
	}

	.leaflet-control-zoom{
		filter: drop-shadow(3px 3px 6px #00000073);
		border: none;
		margin-left: 15px;
		margin-top: 15px;

		& a:first-child{
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
		& a:last-child{
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			border-bottom: none;
		}

		& a {
			width: 41px;
			height: 40px;
			line-height: 40px;

			color: var(--icon-color);
			background-color: var(--nav-background-color);
			border-bottom: 1px solid var(--icon-color);
		}
	}

	&.leaflet-container{
		background-color: var(--background-color);
	}

	&[data-theme='dark'] {
		.leaflet-tile-container{
			filter: grayscale(40%) contrast(0.7);
		}

		.leaflet-pane .leaflet-tile-container .leaflet-tile{
			filter: invert(1);
			opacity: 1 !important;
		}

		.leaflet-marker-icon{
			filter: invert(1);
			opacity: 0.9;
		}
	}

	&[data-theme='light'] {
		.leaflet-tile-container{
			filter: grayscale(50%);
		}

		.leaflet-pane .leaflet-tile-container .leaflet-tile{
			filter: none;
			opacity: inherit !important;
		}

		.leaflet-marker-icon{
			filter: none;
			opacity: unset;
		}
	}
}

@keyframes locate-loading-spinner {
	from {
	  transform: rotate(0turn);
	}
  
	to {
	  transform: rotate(1turn);
	}
}


@media screen and (prefers-color-scheme: dark) {
	#map {
		.leaflet-tile-container{
			filter: grayscale(40%) contrast(0.7);
		}

		.leaflet-pane .leaflet-tile-container .leaflet-tile{
			filter: invert(1);
			opacity: 1 !important;
		}

		.leaflet-marker-icon{
			filter: invert(1);
			opacity: 0.9;
		}
	}
}
