#settings-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  padding: 0 15px;

  font-size: 20px;

  & p{
	margin: 0;
  }

  & label {
    font-family: "FuturaPTDemi";
	font-size: 22px;
  }

  & select {
    appearance: none;
    background-color: transparent;

    font-size: 20px;
    padding: 5px;

	border: 2px solid var(--text-color);
    border-radius: 8px;
  }
}
.form-title {
  font-family: "FuturaPTBold";
  font-size: 28px;

  margin: 5px 0px;
  padding: 10px 15px;
}
