#settings-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  padding: 0 15px;

  font-size: 20px;

  & p {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & label {
    font-family: "FuturaPTDemi";
    font-size: 22px;
  }

  & select {
    appearance: none;
    background-color: transparent;
    color: inherit;

    font-size: 20px;
    padding: 5px;

    border: 2px solid var(--text-color);
    border-radius: 8px;

    & option {
      background-color: var(--background-color);
    }
  }
}
.form-title {
  font-family: "FuturaPTBold";
  font-size: 28px;

  margin: 5px 0px;
  padding: 10px 15px;
}
